*{
    margin: 0;
    padding: 0;
}
.back4{
    width: 100%;
    height: 450px;
    background-color: #130f40;
    border-bottom: 1px solid rgb(22, 22, 22);
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}
.fil{
    width: 900px;
    color: gray;
    margin-top: 30px;
    line-height: 35px;
    font-size: 25px;
}
.back5{
    height: 700px;
    background-color:  rgb(11, 11, 11);
    padding-left: 150px;
    padding-top: 70px;
}
.box1{
    width: 150px;
    height: 40px;
    display: flex;
    gap: 10px;
    padding-left: 25px;
    border-radius: 10px;
    align-items: center;
    color: gray;
    border: 1px dashed rgb(196, 240, 0, 1) ;
}
.box2{
    width: 200px;
    height: 40px;
    display: flex;
    gap: 10px;
    padding-left: 25px;
    border-radius: 10px;
    align-items: center;
    color: gray;
    border: 1px dashed rgb(196, 240, 0, 1) ;
}
.box3{
    width: 300px;
    height: 40px;
    display: flex;
    gap: 10px;
    padding-left: 25px;
    border-radius: 10px;
    align-items: center;
    color: gray;
    border: 1px dashed rgb(196, 240, 0, 1) ;
}
.box{
    display: flex;
    gap: 60px;
}
.na{
    color: gray;
    margin-top: 50px;
}
.te{
    width: 600px;
    background-color: rgb(224, 217, 217);
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
.con{
    display: flex;
    gap: 20px;
}
.te1{
    width: 1220px;
    background-color: rgb(224, 217, 217);
    height: 150px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
.butt{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color:rgb(196, 240, 0, 1) ;
}

@media screen and (max-width : 600px){
.back4{
    height: 200px;
}
.back5{
    padding-left: 20px;
    padding-top: 40px;
    height: 500px;
}
    .fil{
    width: 300px;
    font-size: 10px;
    margin-top: 10px;
    line-height: 20px;
}
.box1{
    width: 60px;
    gap: 3px;
    height: 20px;
    font-size: 8px;
    padding-left: 5px;
}
.box2{
    width: 90px;
    gap: 3px;
    height: 20px;
    font-size: 8px;
    padding-left: 5px;
}
.box3{
    width: 150px;
    gap: 3px;
    height: 20px;
    font-size: 8px;
    padding-left: 5px;
}
.img1{
    width: 12px;
}
.box{
    gap: 10px;
}
.na{
    font-size: 12px;
    margin-top: 30px;
}
.te{
    width: 150px;
    height: 30px;
    margin-top: 10px;
}
.te1{
    width: 320px;
    height: 70px;
    margin-top: 10px;
}
.butt{
    width: 140px;
    height: 35px;
    font-size: 10px;

}
}

@media (min-width: 650px) and (max-width: 1500px){
   .back4{
    height: 400px;
   } 
   .back5{
    height: 1200px;
    padding-left: 70px;
   }
   .fil{
    width: 600px;
    font-size: 20px;
   }
   .box1{
    height: 30px;
    width: 120px;
    padding-left: 15px;
   }
   .box2{
    width: 180px;
    height: 30px;
    font-size: 15px;
    padding-left: 15px;
   }
   .box3{
    width: 280px;
    height: 30px;
    font-size: 15px;
    padding-left: 15px;
   }
   .box{
    gap: 40px;
   }
   .te{
    width: 330px;
   }
   .te1{
    width: 680px;
   }
}
